.container__menu-title {
  color: white;
  background-color:#FFFF00;
}

h1 {
  color: #d6d6d2;
}

.container__menu-title > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
  background-color:#030328;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
