

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg"
    cardTitle="Nova tecnologia"
    cardDescription="Na busca contínua por avanços tecnológicos, a computação quântica emerge como uma promissora fronteira, redefinindo os limites do que é possível no campo da informática. Diferentemente dos computadores tradicionais, que operam com bits binários (0 ou 1), os computadores quânticos utilizam qubits, unidades fundamentais de informação que podem representar simultaneamente 0, 1 ou qualquer superposição desses estados."
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    cardTitle="Nova revista da Marvel vem com tudo para próxima edição"
    photoCover="https://cdn.pixabay.com/photo/2020/06/27/13/02/comic-5345814_1280.jpg"
    >
    </app-small-card>

    <app-small-card
    Id="3"
    cardTitle="Novo filme do Deadpool já tem data de estreia"
    photoCover="https://cdn.pixabay.com/photo/2019/03/21/02/51/deadpool-4070071_1280.jpg"
    >
    </app-small-card>

    <app-small-card
    Id="4"
    cardTitle="10 coisas que você não sabia sobre o Coringa"
    photoCover="https://cdn.pixabay.com/photo/2017/04/13/14/15/mcdonalds-2227657_1280.jpg"
    >
    </app-small-card>

  </div>
</div>
