

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://cdn.pixabay.com/photo/2014/11/03/13/33/spiderman-515215_1280.jpg"
    cardTitle="NOVO FILME DO HOMEM ARANHA PODE SAIR EM 2026"
    cardDescription="Após o sucesso estrondoso de Homem-Aranha: No Way Home, os fãs do universo cinematográfico da Marvel estão ansiosos por mais aventuras do amado super-herói aracnídeo. Recentemente, surgiram rumores excitantes sugerindo que uma nova produção do Homem-Aranha poderia estar nos planos para 2026."
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    cardTitle="Veja todos os jogos que vão sair em 2024 e 2025."
    photoCover="https://cdn.pixabay.com/photo/2021/09/07/07/11/game-console-6603120_1280.jpg"
    >
    </app-small-card>

    <app-small-card
    Id="3"
    cardTitle="Novo filme do Deadpool já tem data de estreia"
    photoCover="https://cdn.pixabay.com/photo/2019/03/21/02/51/deadpool-4070071_1280.jpg"
    >
    </app-small-card>

    <app-small-card
    Id="4"
    cardTitle="O novo óculos de realidade da Apple- Vision Pro"
    photoCover="https://cdn.pixabay.com/photo/2016/10/11/09/26/office-1730939_1280.jpg"
    >
    </app-small-card>

  </div>
</div>
